<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Process:</strong>
  <%= @recipe.process %>
</p>

<p>
  <strong>Vegetarian:</strong>
  <%= @recipe.vegetarian %>
</p>

<p>
  <strong>Ingredients:</strong>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
      <li class="ing_link">   
        <%= link_to "#{ingredient.name}", ingredient_path(ingredient) %>
        <%= button_to "delete", remove_ingredient_path(@recipe.id, ingredient.id), :method => :delete %>
      </li>
    <%end%>
  </ul>
</p>

<p>
  <strong>Gadgets:</strong>
  <ul>
    <% @recipe.gadgets.each do |gadget| %>
      <li class="ing_link">
        <%= link_to "#{gadget.name}", gadget_path(gadget) %>
        <%= button_to "delete", remove_gadget_path(@recipe.id, gadget.id), :method => :delete %>
      </li>
    <%end%>
  </ul>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
