<h1>Welcome, <%= @user.name %></h1>

<h3><%= @user.email %></h3>

<h3>Your Cookbooks:</h3>
  <ul class= "users">
    <% Cookbook.where(user_id: @user.id).each do |cookbook| %>
      <li>
      <%= link_to "#{cookbook.name}", cookbook_path(cookbook) %> 
      </li>
    <%end%>
  </ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
