<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cookbook.name %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(id=@cookbook.user_id)[:name] %>
</p>

<p>
  <strong>Recipes:</strong>
  <% @cookbook.recipes.each do |recipe| %>
    <%= link_to "#{recipe.name}", recipe_path(recipe) %>
    <%= button_to "delete", remove_recipe_path(@cookbook.id, recipe.id), :method => :delete %>
  <%end%>
</p>



<%= link_to 'Edit', edit_cookbook_path(@cookbook) %> |
<%= link_to 'Back', cookbooks_path %>

