<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cookbook.name %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(id=@cookbook.user_id)[:name] %>
</p>

<p>
  <strong>Recipes:</strong>
  <% @cookbook.recipes.each do |recipe| %>
  <%= link_to "#{recipe.name}", recipe_path(recipe) %>
  <%end%>
</p>

<%= button_to "delete", url_for(:controller => 'cookbook', :action => 'remove_recipe_from_cookbook', :cookbook => @cookbook, :recipe => @recipe), :method => :delete %>

<%= link_to 'Edit', edit_cookbook_path(@cookbook) %> |
<%= link_to 'Back', cookbooks_path %>
